@model IList<TesteICI.Domain.Business.Responses.Tag.TagResponse>

@{
    ViewData["Title"] = "Tags";
}

@section Styles {
    <!-- Custom styles for this page -->
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tags</h1>
<p class="mb-4">
    Aqui está sua listagem de tags.
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Todas</h6>
        <div class="float-right">
            <a class="btn btn-success" asp-action="Adicionar" asp-controller="Tag" asp-area="Administracao">
                <i class="fas fa-plus"></i> Adicionar
            </a>
        </div>
    </div>
    <div class="card-body">
        @if(Model?.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Descricao</td>
                                <th>
                                    <a asp-action="Editar" asp-controller="Tag" asp-area="Administracao" asp-route-tagId="@item.TagId" class="btn btn-sm bg-primary">
                                        <i class="fas fa-edit text-white"></i>
                                    </a>
                                    <a asp-action="Excluir" asp-controller="Tag" asp-area="Administracao" asp-route-tagId="@item.TagId" class="btn btn-sm bg-danger">
                                        <i class="fa fa-trash text-white"></i>
                                    </a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Nenhuma tag cadastrada</p>
        }
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


@section Scripts {
    <!-- Page level plugins -->
    <script src="~/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
}
